@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main>
    <div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800">Categories</h1>
        <p class="mb-4">
            Japtor Goraria el Destinia Ichibulup de Gortheia
        </p>
    </div>
</main>