@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model mvc.Controllers.AdminController.UpdateCitiesViewModel;

<main>

    <div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800">Update City</h1>
        <p class="mb-4">
            Insert a new city into database
        </p>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Update City</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <form action="/admin/SaveUpdateCity" method="post">
                        <div class="form-group mb-3">
                            @*<label for="formGroupExampleInput">ID of City</label>*@
                            <input type="hidden" name="id" class="form-control" id="IDInput" placeholder="Please enter ID of City" value="@Model.city.IdCity">
                        </div>
                        <div class="form-group mb-3">
                            <label for="formGroupExampleInput">Name of City</label>
                            <input type="text" name="name" class="form-control" id="nameInput" placeholder="Please enter name of City" value="@Model.city.Name">
                        </div>
                        <div class="form-group mb-3">
                            <label for="formGroupExampleInput2">City's country</label>
                            <input type="text" name="country" class="form-control" id="descriptionInput" placeholder="Please enter descriptions" value="@Model.city.Country">
                        </div>
                        <div class="form-group mb-3">
                            <label for="formGroupExampleInput2">Check out</label>
                            <div>
                                <button type="submit" class="btn btn-success btn-icon-split" style="margin-bottom: 20px">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                    <span class="text" style="width: 96px">Update</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>